@import "https://fonts.googleapis.com/css?family=Playfair+Display&display=swap";

/*
The color scheme I am using are these five colours:
#ffffff, #242424, #5C7C89, #1F4959, #011425
*/


#_body {
    background: radial-gradient(circle at 50% 50%, #FFFFFF 0%, #5C7C89 60%, #011425 100%), 
            linear-gradient(135deg, #242424 0%, #1F4959 100%), 
            linear-gradient(45deg, #011425 0%, #242424 100%);
    background-blend-mode: overlay;
    position: relative;
    overflow-x: auto;
}

header {
    margin-top: -1%;
    margin-left: 0%;
    margin-right: 0%;
    position:relative;
    background-color: rgba(0, 0, 0, 0.364);
    padding: 4%;
    border-radius: 20px;
}

.left_logo {
    float: left;
    position: relative;
    filter: brightness(1.4);
    margin: -2.5%;
}

.left_logo img {
    border-radius: 15px;
    display: block;
}

.right_side {
    position: relative;
    float:right;
    margin-top: -2.5%;
    margin-bottom: -2.8%;
    margin-right: -3%;
    width: 30%;
    height: 30%;
    padding: 1%;
}

ul {
    list-style-type: none;
    background-color:#5c7c895c;
    border-radius: 10px;
    padding: 1%;
    margin: 0%;
    text-align: center;
    text-wrap: balance;

}

li {
    display: inline-block;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 3%;
    margin-left: 3%
}

li a {
    text-decoration: none;
    color: #bbccff;
    margin: 2%;
}

li a:hover {
    background: #ffffff4b;
    padding: 15%;
    border-radius: 10px;
    transition: 0.2s;
}

#left_homepage_background {
    background-color: rgba(0, 0, 0, 0.364);
    border-radius: 20px;
    padding: 10%;
    height: auto;
    width: 20%;
    position: relative;
    margin-top: 4%;
    left: 15%;
}

#left_homepage_content {
    color:#ffffffd9;
    margin: -25%;
}

#right_homepage_background {
    position: relative;
    padding: 1%;
}

#right_homepage_content img {
    float:right;
    position: relative;
    border-style: groove;
    border-color: black;
    border-radius: 100px;
    filter: brightness(0.8);
    margin-top: -25%;
    margin-right: 15%;

}