@import "https://fonts.googleapis.com/css?family=Playfair+Display&display=swap";

/*These below settings are applied to the whole website */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image:url(dark_blue_background.jpg);
    background-repeat: none;
    background-attachment: fixed;
    background-size: 100%;
    background-position: 10%;
    filter: blur(100px);
}

#homeheader {
    
}